:root {
  /* --bg-light: #f8f8f6;
  --bg-soft: #f1f2ef;
  --line: #e3e6e1;
  --line-strong: #ccd2cb;
  --green: #5b846e;
  --green-dark: #2d7d53;
  --green-soft: #eaf4ee;
  --text: #1d1d1d;
  --muted: #3d4536;
  --white: #ffffff; */

  --head-color: #3d4536;
  --btn-bg: #5b846e;
  --btn-bg-hover: #2d7d53;
  --text-color: #111111;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: "Geologica", sans-serif;
  color: var(--text-color);
}

body {
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: min(1344px, calc(100% - 96px));
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  padding-top: 32px;
  background-color: #f8f8f6;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header-logo {
  display: inline-flex;
}

.logo {
  width: auto;
}

.search-wrap {
  position: relative;
  flex: 1;
  max-width: 700px;
}

.search {
  width: 100%;
  height: 48px;
  padding: 0 16px 0;
  padding-left: calc(4px + 131px + 16px);
  border: 1px solid #e3e6e1;
  border-radius: 12px;
  background-color: #f1f2ef;
  outline: none;
}

.search::placeholder {
  color: #3d4536;
  line-height: 24px;
}

.catalog-btn {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 11.75px;

  font-weight: 600;
  padding: 0 16px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 8px;
  line-height: 20px;
  width: 131px;
  height: 40px;
}

.catalog-btn:hover {
  background: var(--btn-bg-hover);
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-actions-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-actions-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccd2cb;
  border-radius: 8px;
  background: transparent;
}

.header-actions-item:hover {
  background-color: #eaf4ee;
}

.delivery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 288px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: var(--btn-bg);
  color: white;
  font-weight: 600;
}

.delivery-btn:hover {
  background-color: var(--btn-bg-hover);
}

.delivery-icon {
  width: 16.5px;
  height: 21px;
}

.favourite-link {
  position: relative;
}

.favourite-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--btn-bg);
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 28.4px;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

.header-menu-item:hover {
  color: #5b846e;
}

/* Main */
.page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--head-color);
  font-size: 12px;
  line-height: 16px;
}

.breadcrumb__item {
  color: #3d4536;
}

.breadcrumb__separator {
  width: 4px;
  height: 8px;
  flex-shrink: 0;
}

.page-title-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.back-button:hover {
  background-color: #eaf4ee;
  border-color: #5b846e;
  border-radius: 50%;
}

.page-title {
  color: var(--head-color);
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.popular-brands {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular-brands__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: var(--head-color);
}

.popular-brands__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.popular-brands__item {
  display: flex;
  width: 215px;
  height: 150px;
}

.popular-brands__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f2ef;
  border-radius: 24px;
  overflow: hidden;
}

.popular-brands__link:hover {
  border-color: #d5e6d9;
  box-shadow: 0 0 0 2px rgba(91, 132, 110, 0.08);
}

.popular-brands__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.letters__list {
  display: flex;
  align-items: center;
}

.letters__item {
  width: 22.56px;
  height: 26px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.letters__item:hover {
  background-color: #eaf4ee;
  border-radius: 4px;
}

.letters__item--numbers {
  width: auto;
  min-width: 36px;
}

.letters__btn {
  border: none;
  background: none;
  white-space: nowrap;
}

.letters__item--active {
  background-color: var(--btn-bg);
  border-radius: 4px;
}

.letters__item--active:hover {
  background-color: var(--btn-bg-hover);
}

.letters__btn--active {
  color: white;
}

.letters__divider {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  background-color: #e3e6e1;
}

.all-brands {
  padding: 32px 0;
  display: flex;
  gap: 32px;
}

.all-brands__letter {
  width: 200px;
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -0.03em;
}

.brands-columns {
  display: grid;
  grid-template-columns: repeat(3, 349px);
  gap: 32px;
}

.brands-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.brands-list__link:hover {
  color: #5b846e;
}

/* Footer */
.footer__content {
  padding: 32px 0;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #e3e6e1;
  margin-bottom: 32px;
}

.footer__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer__about {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.footer__logo {
  width: 197px;
}

.footer__lists {
  display: flex;
  gap: 44px;

  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__list-item:hover {
  color: #5b846e;
}

.footer__downloads {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__download-item {
  font-size: 12px;
  line-height: 16px;
  color: var(--head-color);

  padding: 4px;
  background-color: #f1f2ef;
  border-radius: 8px;

  width: 142px;
}

.footer__download-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* font-size: 14px;
  line-height: 18px; */
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: #f1f2ef;
  border-radius: 16px;
  padding: 16px;

  width: 689px;
}

.footer__newsletter-button {
  max-width: 358px;
  width: 100%;
  height: 40px;
  border: none;
  text-align: left;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: white;

  line-height: 20px;
  font-weight: 600;
}

.footer__newsletter-button:hover {
  background-color: var(--btn-bg-hover);
}

.footer__newsletter-text {
  font-size: 12px;
  line-height: 16px;
  color: #878f87;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__contact-label {
  font-size: 12px;
  line-height: 16px;
  color: #878f87;
}

.footer__contact-link {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}

.footer__contact-text {
  line-height: 24px;
  color: #3d4536;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--btn-bg);
}

.footer__social-item:hover {
  background-color: var(--btn-bg-hover);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  line-height: 18px;
}

.footer__bottom-text {
  color: #878f87;
}

.footer__bottom-link {
  font-weight: 600;
  color: var(--btn-bg);
  text-decoration: underline;
}

.footer__bottom-link:hover {
  color: var(--btn-bg-hover);
}
