:root {
  /* --bg-light: #f8f8f6;
  --bg-soft: #f1f2ef;
  --line: #e3e6e1;
  --line-strong: #ccd2cb;
  --green: #5b846e;
  --green-dark: #2d7d53;
  --green-soft: #eaf4ee;
  --text: #1d1d1d;
  --muted: #3d4536;
  --white: #ffffff; */

  --head-color: #3d4536;
  --btn-bg: #5b846e;
  --btn-bg-hover: #2d7d53;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: "Geologica", sans-serif;
}

body {
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: min(1344px, calc(100% - 96px));
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  padding-top: 32px;
  background-color: #f8f8f6;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header-logo {
  display: inline-flex;
}

.logo {
  width: auto;
}

.search-wrap {
  position: relative;
  flex: 1;
  max-width: 700px;
}

.search {
  width: 100%;
  height: 48px;
  padding: 0 16px 0;
  padding-left: calc(4px + 131px + 16px);
  border: 1px solid #e3e6e1;
  border-radius: 12px;
  background-color: #f1f2ef;
  outline: none;
}

.search::placeholder {
  color: #3d4536;
  line-height: 24px;
}

.catalog-btn {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 11.75px;

  font-weight: 600;
  padding: 0 16px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 8px;
  line-height: 20px;
  width: 131px;
  height: 40px;
}

.catalog-btn:hover {
  background: var(--btn-bg-hover);
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-actions-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-actions-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccd2cb;
  border-radius: 8px;
  background: transparent;
}

.header-actions-item:hover {
  background-color: #eaf4ee;
}

.delivery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 288px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: var(--btn-bg);
  color: white;
  font-weight: 600;
}

.delivery-btn:hover {
  background-color: var(--btn-bg-hover);
}

.delivery-icon {
  width: 16.5px;
  height: 21px;
}

.favourite-link {
  position: relative;
}

.favourite-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--btn-bg);
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 28.4px;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 600;
}

.header-menu-item:hover {
  color: #5b846e;
}

/* Main */
.page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--head-color);
  font-size: 12px;
  line-height: 16px;
}

.breadcrumb__item {
  color: #3d4536;
}

.breadcrumb__separator {
  width: 4px;
  height: 8px;
  flex-shrink: 0;
}

.page-title-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.back-button:hover {
  background-color: #eaf4ee;
  border-color: #5b846e;
  border-radius: 50%;
}

.page-title {
  color: var(--head-color);
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.popular-brands {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: var(--head-color);
}

.brands-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brands-list__item {
  width: 215px;
  height: 150px;
  border: 1px solid #f1f2ef;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-img {
  width: 216px;
  height: 176px;
  object-fit: contain;
}
