:root {
  --head-color: #3d4536;
  --btn-bg: #5b846e;
  --btn-bg-hover: #2d7d53;
  --text-color: #111111;
  --color-white: #ffffff;
  --color-surface-light: #f8f8f6;
  --color-surface-muted: #f1f2ef;
  --color-border-light: #e3e6e1;
  --color-border-soft: #ccd2cb;
  --color-hover-soft: #eaf4ee;
  --color-muted: #878f87;
  --color-accent-soft: #d5e6d9;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: "Geologica", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: min(1344px, calc(100% - 96px));
  max-width: 1344px;
  margin: 0 auto;
}

.popular-brands.swiper,
.popular-brands .swiper-wrapper {
  position: relative;
  overflow: visible;
}

.popular-brands .swiper-button-prev,
.popular-brands .swiper-button-next {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-muted);
  border-radius: 50%;

  position: absolute;
  transform: translateY(90%);
  z-index: 1000;
}

.popular-brands .swiper-button-prev {
  left: -15px;
  z-index: 1000;
}

.popular-brands .swiper-button-next {
  right: -16px;
  z-index: 1000;
}

.popular-brands .swiper-button-prev:hover,
.popular-brands .swiper-button-next:hover {
  background-color: var(--color-hover-soft);
}

.swiper-button__image-right {
  transform: rotate(180deg);
}

/* Header */

.header {
  width: 100%;
  padding-top: 32px;
  background-color: var(--color-surface-light);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header__logo {
  display: inline-flex;
}

.header__logo-image {
  width: auto;
  max-height: 40px;
}

.header__logo-mobile {
  display: none;
}

.header__search-wrap {
  position: relative;
  flex: 1;
  max-width: 700px;
}

.header__search-input {
  width: 100%;
  height: 48px;
  padding: 0 16px 0;
  padding-left: calc(4px + 131px + 16px);
  border: 1px solid var(--color-border-light);
  border-radius: 12px;
  background-color: var(--color-surface-muted);
  outline: none;
}

.header__search-input::placeholder {
  color: #3d4536;
  line-height: 24px;
}

.header__catalog-button {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 11.75px;

  font-weight: 600;
  padding: 0 16px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 8px;
  line-height: 20px;
  width: 131px;
  height: 40px;
}

.header__catalog-button:hover {
  background: var(--btn-bg-hover);
}

.header__search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.header__search-icon__mobile {
  display: none;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__actions-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__action-item {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border-soft);
  border-radius: 8px;
}

.header__action-item:hover {
  background-color: var(--color-hover-soft);
}

.header__action-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.header__delivery-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 288px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: var(--btn-bg);
  color: white;
  font-weight: 600;
}

.header__delivery-button:hover {
  background-color: var(--btn-bg-hover);
}

.header__delivery-icon {
  width: 16.5px;
  height: 21px;
}

.header__action-item {
  position: relative;
}

.header__favorite-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--btn-bg);
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);

  position: relative;
}

.header__menu-item {
  width: auto;
}

.header__menu-item:hover {
  color: var(--btn-bg);
}

.header__menu .swiper-button-prev,
.header__menu .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.header__menu .swiper-button-prev {
  left: -10px;
}

.header__menu .swiper-button-next {
  right: -10px;
}

.button__menu {
  display: none;

  border: none;
  background: none;
  background-color: var(--btn-bg);
  border-radius: 8px;
  padding: 8px;
}

.mobile__buttons {
  display: none;
}

.mobile__buttons-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 167.5px;
  padding: 8px 0;

  border: none;
  background-color: var(--btn-bg);
  color: var(--color-white);
  border-radius: 8px;
}

/* Main */
.page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.page-header__breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--head-color);
  font-size: 12px;
  line-height: 16px;
}

.page-header__breadcrumb-item {
  color: #3d4536;
}

.page-header__breadcrumb-separator {
  width: 4px;
  height: 8px;
  flex-shrink: 0;
}

.page-header__title-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.page-header__back-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.page-header__back-button:hover {
  background-color: var(--color-hover-soft);
  border-color: var(--btn-bg);
  border-radius: 50%;
}

.page-header__title {
  color: var(--head-color);
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.popular-brands.swiper {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular-brands__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: var(--head-color);
}

.popular-brands__title-mobile {
  display: none;
}

.popular-brands__list {
  list-style: none;
  display: flex;
  align-items: center;

  position: relative;
}

.popular-brands__item {
  display: flex;
  width: 100%;
  max-width: 215px;
  height: 150px;
}

.popular-brands__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-surface-muted);
  border-radius: 24px;
  overflow: hidden;
}

.popular-brands__link:hover {
  border-color: var(--color-accent-soft);
  box-shadow: 0 0 0 2px rgba(91, 132, 110, 0.08);
}

.popular-brands__image {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.letters__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.letters__item {
  width: 22.56px;
  height: 26px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.letters__item:hover {
  background-color: var(--color-hover-soft);
  border-radius: 4px;
}

.letters__item--numbers {
  width: auto;
  min-width: 36px;
}

.letters__button {
  border: none;
  background: none;
  white-space: nowrap;
}

.letters__item--active {
  background-color: var(--btn-bg);
  border-radius: 4px;
}

.letters__item--active:hover {
  background-color: var(--btn-bg-hover);
}

.letters__button--active {
  color: white;
}

.letters__divider {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  background-color: var(--color-border-light);
}

.all-brands {
  padding: 32px 0;
  display: flex;
  gap: 32px;
}

.all-brands__letter {
  width: 200px;
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -0.03em;
}

.all-brands__columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 349px));
  gap: 32px;
}

.all-brands__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.all-brands__link:hover {
  color: #5b846e;
}

/* Footer */
.footer__content {
  padding: 32px 0;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border-light);
  margin-bottom: 32px;
}

.footer__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer__about {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.footer__logo {
  width: 197px;
}

.footer__nav {
  display: flex;
  gap: 44px;

  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__list-link:hover {
  color: #5b846e;
}

.footer__downloads {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__download-item {
  font-size: 12px;
  line-height: 16px;
  color: var(--head-color);

  padding: 4px;
  background-color: var(--color-surface-muted);
  border-radius: 8px;

  width: 142px;
}

.footer__download-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer__info {
  font-style: normal;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: var(--color-surface-muted);
  border-radius: 16px;
  padding: 16px;

  width: 689px;
}

.footer__newsletter-button {
  max-width: 358px;
  width: 100%;
  height: 40px;
  border: none;
  text-align: left;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: white;

  line-height: 20px;
  font-weight: 600;
}

.footer__newsletter-text {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-muted);
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__contact-label {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-muted);
}

.footer__contact-link {
  display: inline-block;
  width: fit-content;
  align-self: flex-start;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}

.footer__contact-text {
  line-height: 24px;
  color: var(--head-color);
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social-item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--btn-bg);
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer__social-item:hover,
.footer__newsletter-button:hover,
.button__menu:hover,
.mobile__buttons-btn:hover {
  background-color: var(--btn-bg-hover);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  line-height: 18px;
}

.footer__bottom-text {
  color: var(--color-muted);
}

.footer__bottom-link {
  font-weight: 600;
  color: var(--btn-bg);
  text-decoration: underline;
}

.footer__bottom-link:hover {
  color: var(--btn-bg-hover);
}

@media (max-width: 768px) {
  .container {
    width: min(375px, calc(100% - 32px));
    max-width: 375px;
  }

  .header__logo,
  .header__catalog-button,
  .header__actions,
  .header__menu,
  .header__search-icon {
    display: none;
  }

  .header {
    padding-top: 16px;
  }

  .header__top {
    gap: 16px;
    padding-bottom: 8px;
  }

  .header__search-wrap {
    max-width: 227px;
  }

  .header__search-input {
    width: 100%;
    height: 40px;
  }

  .header__logo-mobile {
    display: block;
  }

  .button__menu {
    display: block;
  }

  .header__search-input {
    padding-left: 8px;
    border-radius: 8px;
    border-color: var(--color-border-soft);
    background-color: var(--color-surface-light);
  }

  .header__search-input::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-muted);
  }

  .header__search-icon__mobile {
    display: block;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
  }

  .mobile__buttons {
    display: flex;
    gap: 8px;
    padding: 8px 0;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .popular-brands .swiper-button-prev,
  .popular-brands .swiper-button-next {
    display: none;
  }

  .popular-brands__item {
    width: 100%;
    max-width: 114.67px;
    height: 80px;
  }
}

@media (max-width: 1140px) {
  .header__catalog-button,
  .header__actions,
  .page-header__breadcrumb,
  .popular-brands__title {
    display: none;
  }

  .header__search-input {
    padding-left: 16px;
  }

  .button__menu {
    display: block;
  }

  .header__menu-item {
    width: auto !important;
    flex: 0 0 auto;
  }

  .page-header__title {
    font-size: 24px;
    line-height: 26px;
  }

  .popular-brands__title-mobile {
    display: block;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    color: var(--head-color);
  }

  .popular-brands.swiper {
    padding: 16px 0;
  }
}

@media (max-width: 1310px) {
  .letters__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 4px;
    justify-content: flex-start;
  }

  .letters__item {
    width: auto;
    min-width: 23px;
    height: 26px;
    flex: 0 0 auto;
  }

  .letters__item--numbers {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-bottom: 8px;
  }

  .letters__break {
    width: 100%;
    height: 0;
  }
}

@media (max-width: 1420px) {
  .header__menu .swiper-button-prev,
  .header__menu .swiper-button-next {
    display: none;
  }
}
